@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --app-grey: #a9a9a9;
  --app-blue: #3557c2;

  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}
/* .main {
  min-height: calc(100vh - 440px);
} */
.footer {
  font-family: "Open Sans", sans-serif;
}

.footer div .footerHeader {
  font-family: "Montserrat", sans-serif;
}

.button {
  @apply border h-fit rounded-[10px] border-separate font-medium text-white transition ease-in-out duration-300 text-sm tracking-wider hover:opacity-60;
  padding: 6.5px 10px 8.5px 10px;
}

.transparentButton {
  @apply rounded-[10px] h-fit font-medium bg-transparent transition ease-in-out duration-500 text-sm tracking-wider text-[var(--app-blue)] hover:text-white hover:border-none hover:bg-[var(--app-blue)];
  padding: 6px 10px;
  border: 1.5px solid var(--app-blue);
}

.textButton {
  @apply rounded-[10px] h-fit font-medium bg-transparent transition ease-in-out duration-500 text-sm tracking-wider text-[var(--app-blue)] border-transparent border hover:border-[var(--app-blue)] ;
  padding: 6px 10px;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.hero-bg-img {
  background-image: url("./assets/images/coverImage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #00000076, #00000028);
}


.auth > .active,.mobile > .active{
  background-color: #3557c2;
  border:transparent;
  color: #fff;
}
.large > .active{
  color: var(--app-blue);
  border-top: var(--app-blue) solid 2px;
}
.loader {
  width: 47px;
  height: 47px;
  position: relative;
}
.loader:before,
.loader:after {
  content:"";
  display: block;
  border: 24px solid;
  border-color: transparent transparent #fff  #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1.2s infinite ease-in;
}
.loader:before {
  border-color:#fff  #fff transparent transparent;
  animation-name:mvrx;
}
@keyframes mvx {
  0% , 10%  {transform: translate(0 , 0) rotate(0deg)}
  30% {transform: translate(-50% , -50%) rotate(0deg)}
  50% {transform: translate(-50% , -50%) rotate(180deg)}
  75% , 100% {transform: translate(0, 0) rotate(180deg)}
}
@keyframes mvrx {
  0% , 10%  {transform: translate(0 , 0) rotate(0deg)}
  30% {transform: translate(50% , 50%) rotate(0deg)}
  50% {transform: translate(50% , 50%) rotate(180deg)}
  75% , 100% {transform: translate(0, 0) rotate(180deg)}
}

  /* Hide the spin buttons in WebKit browsers */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hide spin buttons in Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }
  /* input:-webkit-autofill {
    color: black;
    background: #fff;
   
   
} */

footer p:hover,footer a:hover{
  color: #fff;
}